<html class="html" >
    <head><title>fogot password?</title></head>
    <body>
        <div class="outer">
            <div class="reset">
                <h2>Reset Password</h2><p >Enter your mail to veify then reset your password</p>
            </div>
            <div class="mail">
              <input type="email" id="inputEmail" placeholder="Enter mail" class="form-control"  required [(ngModel)]="email" name="email"  >
            </div>  
            <div class="input1">
                 <input type="password" id="inputPassword1" class="form-control" placeholder="Password" required  [(ngModel)]="password" name="password">
            </div>            
            <div class="input2">
                <input type="password" id="inputPassword2" class="form-control" placeholder="Re-Password" required  [(ngModel)]="repassword" name="repassword"  >
            </div>
            <div class="submit">
                <button class="submitButton" type="submit" (click)="changePassword()">
                    <label>Submit</label>
                </button>                
            </div>
            <div *ngIf="rId$ | async as rId">
                {{moveToLoginPage(rId)}}
             </div>
        </div>
    </body>
</html>
