<app-admin-header></app-admin-header>
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10 border border-dark">
           <table class="table table-hover">
            <thead>
              <tr class="font-weight-bold">
                <th scope="col">Retailer Id</th>
                <th scope="col">Retailer Name</th>
                <th scope="col">Retailer Email</th>
                <th scope="col">Retailer Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let retailer of retailers">
                    <td>{{retailer.rId}}</td>
                    <td>{{retailer.rName}}</td>
                    <td>{{retailer.rEmail}}</td>
                    <td>{{retailer.rPhone}}</td>
                    
                    <td><button type=button class="button btn-danger" (click)="deleteEmployee(retailer.rId)">Delete</button></td>
                    
                </tr>
            </tbody>
          </table>

        </div>
    </div>
</div>

